<div class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li class="active"></li>
    <li></li>
    <li></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <a href="http://placeholder.com"><img class="silde-image" src="http://iph.href.lu/800x300"></a>
    </div>
    <div class="item">
      <a href="http://placeholder.com"><img class="silde-image" src="http://iph.href.lu/800x300"></a>
    </div>
    <div class="item">
      <a href="http://placeholder.com"><img class="silde-image" src="http://iph.href.lu/800x300"></a>
    </div>
  </div>
  <a href="javascript:$('.carousel').carousel('prev')" class="left carousel-control">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a href="javascript:$('.carousel').carousel('next')" class="right carousel-control">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
